<h2>Add New Post</h2>
<form method="POST" action="/create">
	<div>
		<label for="title">Description:</label>
		<input type="text" id="describe" name="describe" value="">
	</div>
	<div>
		<label for="title">Category:</label>
		<input type="text" id="category" name="category" value="">
	</div>
	<input type="submit" value="Create">
</form>
